
extends layout

block content

  if errors
    ul.my-errors
      for error in errors
        li= error.msg


  h1 CookBook
  h2= "Welcome " + name 
  p This homepage is still in creation



  #footer

  footer(class="page-footer  font-small gray fixed-bottom")
    div(class="footer-copyright text-center py-3") © 2020 Copyright: 
      a(href="https://www.ecam.be/") Martin and Thomas -- ECAM Brussels
      br
      b This website uses cookies
      br
      a(href='https://github.com/ThomasVandermeersch/VirtualCookBook') See GitHub Repository

