doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
  
    div.container.listing-reg

      img(src='/images/Cookbook.png'  style='width:8%; height:8%;')
      h1 CookBook
      

      block content
